:root {
  --Pink900: #d70a6d;
}

.successImg {
  border-radius: 200px 200px 0px 0px;
  -moz-border-radius: 200px 200px 0px 0px;
  -webkit-border-radius: 200px 200px 0px 0px;
  border: 7px solid black;
  overflow: hidden;
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 160px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  background-color: red;
}
